[submodule "adafruit"]
	path = adafruit
	url = https://github.com/jloosli/Adafruit-Raspberry-Pi-Python-Code.git
[submodule "Adafruit-Raspberry-Pi-Python-Code"]
	path = Adafruit-Raspberry-Pi-Python-Code
	url = https://github.com/adafruit/Adafruit-Raspberry-Pi-Python-Code.git
